/*
	FONTS
*/
	@import url(https://fonts.googleapis.com/css?family=Oswald&subset=latin,latin-ext);
	@import url(https://fonts.googleapis.com/css?family=Lora&subset=latin,latin-ext,cyrillic);
	@import url(https://fonts.googleapis.com/css?family=Francois+One&subset=latin,latin-ext);
/*
	NAVBAR
*/
nav{
	opacity: 0.8;
	border: none !important;
}

.navbar-brand{
	color: #FFFFFF !important;
	font-family: 'Francois One', sans-serif;
	font-weight: 350;
	font-size: 40px;
}

.navbar-brand a{
	padding-right: 1px;
}
.navbar-brand span{
	padding-right: 10px;
	color: #ff4081;
	letter-spacing: -1px;
}

.navbar-collapse ul li a{
	font-size: 22px;
	padding: 20px 12px;
	color: #FFFFFF !important;
	font-family:'Oswald', sans-serif;
}

.navbar-collapse a:hover{
	font-size: 30px;
	color:   #c51162 !important; 
}

.active a{
	opacity: 0.8;
	color: #FFFFFF;
	opacity: 1;	background-color: #ff4081 !important;
}

/*
	FOOTER
*/
footer{
	border-top: 6px solid #c51163;
	background-color: #212121 !important;
	padding: 30px;
}
footer p{
	color: #FFFFFF !important;
	font-size: 20px;
	font-family: 'Francois One', sans-serif;
}

footer h3{
	color: #c51163 !important;
	font-size: 30px;
	font-family:'Oswald', sans-serif;

}

.fa{
	color: #ffffff;
    text-shadow: 1px 1px 1px #B6B6B6;
    font-size: 3.0em; 
    margin-bottom: 10px;
}

.fa:hover{
	color:#ff4081;
}

/*
	MAIN CONTENT 
*/
.welcome-content{
	padding: 5% 0;
	background: #ffffff url("./images/purple-background.jpg") no-repeat center center fixed;
	background-size: cover;
	min-height: 100%;
}
.welcome{
	padding: 10% 0;
	font-family: 'Times New Roman', sans-serif;
}

.welcome h3{
	font-size: 50px;
	padding-bottom: 40px;
	text-shadow: 3px 3px 4px #c51163;
	color: #FFFFFF;
	font-weight: bold;
	font-family:'Oswald', sans-serif;
}

@keyframes animated-bg {
    0%   {background-color: #ff6081; color: #FFFFFF; box-shadow: 6px 6px grey;}
    25%  {background-color: #ff6081; color: #FFFFFF; box-shadow: 6px 6px purple;}
    50%  {background-color: #ff6081; color: #FFFFFF; box-shadow: 6px 6px #ff6081;}
    75%  {background-color: #ff6081; color: #FFFFFF; box-shadow: 6px 6px grey;}
    100% {background-color: #ff6081; color: #FFFFFF; box-shadow: 6px 6px #ff4081;}
}

@keyframes animated-start{
	from{left:0px;}
	to {left: 300px;}
}

h3{
	animation-name: animated-start 
	animation-duration:3s
	animation-iteration-count: 1;
	transition: all .55s ease-in;
}
.welcome a{
	padding: 20px 50px;
	color: white;
	font-size: 30px;
	font-family: 'Times New Roman';
	font-weight: bold;
	background-color: #c51162;
	transition-property: font-size;
    transition-duration: 2s;
    transition-timing-function: linear;
}

.welcome a:hover{
	color: #FFFFFF;
	font-size: 50px;
	background-color: #ff4081;
}

.main-content{
	margin-top: 5px;
	margin-bottom: 60px;
	font-size: 20px;
	font-family: 'Times New Roman';

}

.section-heading{
	font-size: 40px;
	font-weight: bold;
	font-family:'Oswald', sans-serif;
	color: #212121;
	padding-bottom: 20px;
}
section{
	padding: 50px;
	min-height: 550px;
}

.programs-section{
	background: url('./images/asanoha.png') no-repeat center center fixed;
	background-size: cover;
}

.projects-section{
	background: url('./images/pink_rice.png') no-repeat center center fixed;
	background-size: cover;
}
.main-content i{
	font-family:'Lora', sans-serif;
}
.panel-title{
	font-size: 30px;
	font-weight: bold;
	font-family:'Oswald', sans-serif;
	color: #FFFFFF;
}

.panel-heading{
	background-color: #673ab7 !important;
	color: #FFFFFF;
}

.panel-body{
	padding: 30px;
	min-height: 60px;
}
.panel{
	box-shadow: 5.5px 5.5px grey;
}

.panel:hover{
	animation-name: animated-bg;
	animation-duration: 5s;
}
.panel-btn{
	background-color: #ff4081;
	color: #FFFFFF;
}

.divider{
	background-color: #B6B6B6;
	border-radius: 2px;
	border: 1px solid #B6B6B6;
}

.project-img{
	height: 50px;
}
